body {
  margin: 0 auto;
  background: #40e;
}

#app {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  //max-width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

svg {
  text, g {
    transition: all 1s ease;
    transform-origin: center;
  }
}

#history {
  span {
    transition: all .8s ease;
    transform: translate(-12px, 0);
    display: inline-block;
  }
  span a {
    opacity: 0;
    width: 0;
    transition: all .8s ease;
  }

  &:hover {
    span a {
      opacity: 1;
      width: auto;

      &:hover {
        color: red;
      }
    }
    span {
      transform: translate(0, 0);
    }
  }
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  cursor: pointer;
}


input[type=button] {
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background: #000;
  border: none;
  line-height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

div.timer {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
}

table, th, td {
  border-collapse: collapse;

  border: 1px solid #aaa;
  td {
    padding: 8px;
  }
}
